**WHAT IS THE GOAL OF THIS EXERCISE**

*Premise: Microsoft wants to start a movie studio and needs to know how to enter the market.*
*Question: What movies/genres are doing the best at the box office?
*Question: How does this information help Microsoft?

**IMPORTING THE DATA FROM THE FOLDER**

In [7]:
!ls data #Shows the files in the datafolder

bomMovieGross.csv    imdbTitleBasics.csv  imdbTitleRatings.csv

In [89]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [99]:
bomMovieGrossdf = pd.read_csv('data/bomMovieGross.csv')

In [100]:
imdbTitleBasicsdf = pd.read_csv('data/imdbTitleBasics.csv')

In [117]:
imdbTitleBasicsdf

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [123]:
len(imdbTitleBasicsdf.original_title.unique())

137774

In [101]:
imdbTitleRatingsdf = pd.read_csv('data/imdbTitleRatings.csv')

In [124]:
imdbTitleRatingsdf

       Unnamed: 0      tconst  averagerating  numvotes
0               0  tt10356526            8.3        31
1               1  tt10384606            8.9       559
2               2   tt1042974            6.4        20
3               3   tt1043726            4.2     50352
4               4   tt1060240            6.5        21
...           ...         ...            ...       ...
73851       73851   tt9805820            8.1        25
73852       73852   tt9844256            7.5        24
73853       73853   tt9851050            4.7        14
73854       73854   tt9886934            7.0         5
73855       73855   tt9894098            6.3       128

[73856 rows x 4 columns]

**EXPERIMENTING WITH THE DATA!**

In [106]:
# pd.merge (how= 'left') makes a left join on a common series. 
imdbdatadf = pd.merge(imdbTitleBasicsdf, imdbTitleRatingsdf, on = 'Unnamed: 0', how = 'left')

In [110]:
alldatadf = pd.merge(imdbdatadf, bomMovieGrossdf, on = 'Unnamed: 0', how = 'left')

In [111]:
alldatadf

,Unnamed: 0,tconst_x,primary_title,original_title,start_year,runtime_minutes,genres,tconst_y,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt10356526,8.3,31.0,Toy Story 3,BV,415000000.0,652000000,2010.0
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt10384606,8.9,559.0,Alice in Wonderland (2010),BV,334200000.0,691300000,2010.0
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt1042974,6.4,20.0,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010.0
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt1043726,4.2,50352.0,Inception,WB,292600000.0,535700000,2010.0
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt1060240,6.5,21.0,Shrek Forever After,P/DW,238700000.0,513900000,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN