**WHAT IS THE GOAL OF THIS EXERCISE**

*Premise: Microsoft wants to start a movie studio and needs to know how to enter the market.*
*Question: What movies/genres are doing the best at the box office?
*Question: How does this information help Microsoft?

**IMPORTING THE DATA FROM THE FOLDER**

In [2]:
!ls data #Shows the files in the datafolder

bomMovieGross.csv    imdbTitleBasics.csv  imdbTitleRatings.csv

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
bomMovieGrossdf = pd.read_csv('data/bomMovieGross.csv')

In [5]:
imdbTitleBasicsdf = pd.read_csv('data/imdbTitleBasics.csv')

In [6]:
imdbTitleBasicsdf

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [8]:
imdbTitleRatingsdf = pd.read_csv('data/imdbTitleRatings.csv')

In [9]:
imdbTitleRatingsdf

       Unnamed: 0      tconst  averagerating  numvotes
0               0  tt10356526            8.3        31
1               1  tt10384606            8.9       559
2               2   tt1042974            6.4        20
3               3   tt1043726            4.2     50352
4               4   tt1060240            6.5        21
...           ...         ...            ...       ...
73851       73851   tt9805820            8.1        25
73852       73852   tt9844256            7.5        24
73853       73853   tt9851050            4.7        14
73854       73854   tt9886934            7.0         5
73855       73855   tt9894098            6.3       128

[73856 rows x 4 columns]

**EXPERIMENTING WITH THE DATA!**

In [13]:
# pd.merge (how= 'left') makes a left join on a common series. 
imdbdatadf = pd.merge(imdbTitleBasicsdf, imdbTitleRatingsdf, on = 'tconst' , how = 'left')

In [15]:
imdbdatadf.head(50)

,Unnamed: 0_x,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Unnamed: 0_y,averagerating,numvotes
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",36049.0,7.0,77.0
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",725.0,7.2,43.0
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,18429.0,6.9,4517.0
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",2223.0,6.1,13.0
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",1143.0,6.5,119.0
5,5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,NaN,NaN,NaN
6,6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",55676.0,4.1,32.0
7,7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",30166.0,8.1,263.0
8,8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History",NaN,NaN,NaN
9,9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,NaN,NaN,NaN
10,10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,55677.0,6.8,451.0
11,11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,28904.0,4.6,64.0
12,12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,68822.0,7.6,53.0
13,13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,59244.0,6.9,120.0
14,14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,68823.0,7.5,6.0
15,15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",62126.0,7.8,584.0
16,16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN,NaN,NaN,NaN
17,17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,63424.0,4.0,72.0
18,18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,13575.0,8.8,8.0
19,19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",66310.0,4.0,12.0
20,20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",57939.0,1.9,8248.0
21,21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama",28905.0,6.7,236.0
22,22,tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN,36050.0,6.6,8.0
23,23,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",8681.0,5.9,123.0
24,24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary,68824.0,7.8,22.0
25,25,tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary,NaN,NaN,NaN
26,26,tt0263814,On kadin,On kadin,2019,NaN,Drama,66311.0,7.1,100.0
27,27,tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama",15304.0,7.4,5.0
28,28,tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History",2224.0,7.0,31.0
29,29,tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi,36051.0,6.6,16.0
30,30,tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy,70021.0,3.9,219.0
31,31,tt0285423,Abolição,Abolição,2019,NaN,Documentary,16095.0,7.4,35.0
32,32,tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller,70022.0,6.6,1053.0
33,33,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy",NaN,NaN,NaN
34,34,tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama",21270.0,6.7,77.0
35,35,tt0306058,Second Coming,Second Coming,2012,95.0,NaN,17225.0,5.5,20.0
36,36,tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance",NaN,NaN,NaN
37,37,tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi",1459.0,5.1,287.0
38,38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",28906.0,7.1,15378.0
39,39,tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror",15305.0,3.9,2328.0
40,40,tt0326592,The Overnight,The Overnight,2010,88.0,NaN,70023.0,7.5,24.0
41,41,tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller",1460.0,5.5,1889.0
42,42,tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family",21271.0,7.9,61.0
43,43,tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance",68825.0,6.1,73.0
44,44,tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,NaN,57940.0,6.2,10.0
45,45,tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,NaN,49398.0,6.3,6.0
46,46,tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama",52439.0,7.6,59.0
47,47,tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy",68826.0,5.0,302.0
48,48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",28907.0,6.1,37886.0
49,49,tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama",7449.0,7.4,14.0

In [ ]:
# Extra 'unnamed' rows created I should try to remove.